/*****************
VARIABLES
*****************/
/*****************
GLOBAL
*****************/
*:focus {
  outline: none; }

html,
body {
  height: 100%; }

body {
  background-color: #222;
  color: #eee;
  font-family: "Play", Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  background-image: url("../img/rebel.png");
  background-repeat: repeat; }

.cover {
  padding: 0 20px; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }
  .cover-container p {
    line-height: 1.6; }

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold; }

.inner {
  padding: 30px; }

.list {
  list-style-type: none; }

/*****************
SEARCH FORM
*****************/
.logo {
  width: 100%;
  height: 20%;
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .logo {
      margin-top: 20px; } }
  @media screen and (min-width: 1024px) {
    .logo {
      margin-top: 40px; } }

#tagline {
  font-size: 1em; }
  @media screen and (min-width: 768px) {
    #tagline {
      font-size: 1.5em; } }
  @media screen and (min-width: 1024px) {
    #tagline {
      font-size: 3em; } }

#search-term {
  color: #222; }

#this {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%; }

#query {
  width: 50%;
  font-size: 0.75em; }
  @media screen and (min-width: 768px) {
    #query {
      font-size: 1em; } }
  @media screen and (min-width: 1024px) {
    #query {
      font-size: 1.2em; } }

#searcher {
  font-size: 1.2em; }
  @media screen and (min-width: 768px) {
    #searcher {
      font-size: 1.2em;
      margin-bottom: 5px; } }
  @media screen and (min-width: 1024px) {
    #searcher {
      font-size: 1.2em;
      margin-bottom: 5px; } }

#search-results {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto; }

#list {
  list-style: none; }
